.header{
    margin-right: to;
    /*border-bottom-style: outset; 
    border-image: linear-gradient( to left, #f32170, #ff6b08, #cf5923, #cd3263) 50;*/
    border-bottom-width: 10px 10px;
    background: rgb(11, 11, 11);
   text-shadow: 2px 2px 10px black;
    top: 0;
    height: 60px;
    width: 100%;
   position: relative;
   margin-bottom: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem 2rem;
   z-index: 1;
   animation: fadeInUp -1s ease-out;
   transition: all 0.3s ease-in-out;
   margin-top: 0;
}